<%- include('../partials/head.ejs') %>
<body>
    <div class="container">
        <!-- title -->
        <div class="mt-4 p-5 bg-warning text-white rounded">
            <h1><%= title %></h1>
        </div>
        <!-- nav -->
        <%- include('../partials/menu.ejs') %>

        <div class="row">
            <% if (data && data.length > 0) { %>
                <% data.forEach((product, index) => { %>
                    <div class="col-md-4 mb-4"> 
                        <div class="card">
                            <img src="<%= product.image_path %>" class="img-fluid mb-2" alt="<%= product.name %>">
                            <h3><%= product.name %></h3>
                            <p><strong>Description:</strong> <%= product.description %></p>
                            <p><strong>Price:</strong> $<%= product.price.toFixed(2) %></p>
                            <p><strong>Category:</strong> <%= product.category %></p>
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#productModal<%= index %>">
                                Show Details
                            </button>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="productModal<%= index %>" tabindex="-1" aria-labelledby="productModalLabel<%= index %>" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="productModalLabel<%= index %>"><%= product.name %> Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Description:</strong> <%= product.description %></p>
                                    <p><strong>Price:</strong> $<%= product.price.toFixed(2) %></p>
                                    <p><strong>Availability:</strong> <%= product.availability %></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p class="text-center">No products available at the moment.</p>
            <% } %>
        </div>

        <%- include('../partials/footer.ejs') %>
    </div>
    <!-- Include Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
